body {
	background: black;
}

header {
	background: black;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-family: 'Bowlby one', cursive;
}

h1 {
	color: white;
	font-family: 'Bowlby One', cursive;
	font-size: 40px;
}

h3 {
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

p {
	font-size: 18px;
	line-height: 1.6;
}

a { color:white;} /* Globally */

/* Each state */

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:lavender; }
a:focus { text-decoration: none; color:lavender; }
a:hover, a:active { text-decoration: none; color: lavender; }