body {
	background: black;
}

header {
	background: black;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-family: 'Bowlby one', cursive;
}

h1 {
	color: white;
	font-family: 'Bowlby One', cursive;
	font-size: 40px;
}

h3 {
	font-size: 50px;
	font-family: 'DM Serif Text', serif;
}

p {
	font-size: 18px;
	line-height: 1.6;
}

a {

}